.wrapper {
    
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.bodyForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: transparent;
    width: 100%;
}