.wrapper {

}
.header {
    padding: 20px 0px;
}
.headerTitle {
    font-weight: bold;
    font-size: 15pt;
    text-decoration: none;
    color: var(--text-color-one);
}
.headerTitle:hover {
    text-decoration: underline;
}
.body {

}
.containerMain {
    display: flex;
    gap: 10px;
}
.containerMainImages {
    display: flex;
    flex-grow: 1;
    background-color: transparent;
    gap: 10px;
}
.flexMainImagesThumbs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flexMainImagesThumb {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.103);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}
.flexMainImagesThumbActive {
    border-color: var(--primary-color);
}
.flexMainImagesThumbImg {
    max-width: 100%;
    max-height: 100%;
}
.flexMainImagesThumbnail {
    background-color: transparent;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.flexMainImagesThumbnailImg {
    max-width: 100%;
    max-height: 600px;
}
.containerMainInfo {
    width: 40%;
    min-height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.containerMainInfoHeader {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.containerMainInfoHeaderTitle {

}
.containerMainInfoHeaderTitleText {
    font-size: 15pt;
    font-weight: 500;
}
.containerMainInfoHeaderRating {
    display: flex;
    align-items: center;
    background-color: transparent;
}
.containerMainInfoHeaderRatingSubOne {
    display: flex;
    align-items: center;
    border-left: 2px solid var(--text-color-two);
    background-color: transparent;
    padding: 0px 20px;
}
.containerMainInfoHeaderRatingSubOne:first-child {
    border: 0;
    padding-left: 0
}
.containerMainInfoHeaderRatingSubOneSText {
    margin-right: 10px;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: underline;
}
.containerMainInfoHeaderRatingSubOneText {
    color: var(--text-color-one-blur);
}
.containerMainInfoBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.containerMainInfoBodyPrice {
    background-color: transparent;
}
.containerMainInfoBodyPricePrice {
    display: flex;
    flex-direction: column;
}
.containerMainInfoBodyPriceDefaultText {
    text-decoration: line-through;
    color: var(--text-color-one-blur);
}
.containerMainInfoBodyPriceDiscountFlex {
    display: flex;
    gap: 10px;
}
.containerMainInfoBodyPriceDiscountFlexText {
    font-size: 18pt;
    font-weight: 600;
    color: var(--primary-color);
}
.containerMainInfoBodyPriceDiscountFlag {
    color: var(--text-color-one);
    font-size: 13pt;
}
.containerMainInfoBodyPriceInstallments {

}
.containerMainInfoBodyPriceInstallmentsText {
}
.containerMainInfoBodyChildren {
    background-color: transparent;
}
.containerMainInfoBodyChildrenChild {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.containerMainInfoBodyChildrenChildHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}
.containerMainInfoBodyChildrenChildHeaderS {
    font-weight: 600;
}
.containerMainInfoBodyChildrenChildHeaderText {

}
.containerMainInfoBodyChildrenChildBody {
    width: 70px;
    height: 70px;
    border: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerMainInfoBodyChildrenChildBodyImage {
    max-width: 100%;
    max-height: 100%;
}
.containerMainInfoBodyActions {
    
}
.containerMainInfoBodyActionsSubOne {
    display: flex;
    gap: 10px;
    background-color: transparent;
}

.containerSecondary {

}