.wrapper {
    background-color: transparent;
}
.container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1); */
    max-width: 400px;
}
.containerHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.containerHeaderTitle {
    font-size: 18pt;
}
.containerHeaderDescription {
    color: var(--text-color-one-blur);
}
.containerBody {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.containerBodySocialAccounts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.separator {
    display: flex;
    align-items: center;
    gap: 15px;
}
.separatorBar {
    height: 1px;
    width: 100%;
    background-color: var(--text-color-two);
}
.separatorText {

}
.containerBodyForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.containerBodyFormInputContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.containerBodyFormInputContainerIcon {
    position: absolute;
    top: 0;
    background-color: transparent;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerBodyFormInputContainerIconLeft {
    left: 13px;
}
.containerBodyFormInputContainerIconRight {
    right: 13px;
}
.containerBodyFormInputContainerIconIcon {
    font-size: 18pt;
}
.containerBodyFormInputContainerIconIconF {
    cursor: pointer;
}
.containerBodyFormInputContainerLabel {
    position: absolute;
    left: 0;
    top: 10px;
    margin-left: 51.5px;
    font-size: 10pt;
    font-weight: 600;
}
.containerBodyFormInputContainerInput {
    width: 100%;
    padding: 30px 50px 10px 50px;
    border-radius: 8px;
    font-size: 12pt;
    background-color: rgba(0, 0, 0, 0.068);
    border: 2px solid transparent;
    transition: 0.3s;
}
.containerBodyFormInputContainerInput:focus {
    border-color: var(--primary-color);
    background-color: transparent;
}
.containerBodyFormInputContainerInputError {
    border-color: var(--primary-color);
}
.containerBodyFormInputContainerRemember {
    display: flex;
    align-items: center;
    gap: 10px;
}
.containerBodyFormInputContainerRememberInput {
    background-color: rgba(0, 0, 0, 0.068);
    border-color: transparent;
}
.containerBodyFormInputContainerRememberInputLabel {
    cursor: pointer;
}
.containerBodyFormInputContainerForgetPassword {
    align-self: flex-end;
}
.containerFooter {
    display: flex;
    align-items: center;
    gap: 5px;
}
.containerError {
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}
.containerErrorHeader {

}
.containerErrorHeaderIcon {
    font-size: 23pt;
}
.containerErrorBodyTitle {
    font-weight: 500;
}
.containerErrorBodyText {
    display: block;
}
.loading {
    opacity: 50%;
    pointer-events: none;
}
.messageSuccess {
    color: green;
}
.messageFailure {
    color: red;
}