.wrapper {
    background-color: transparent;
}
.container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1); */
    max-width: 400px;
}
.containerHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.containerHeaderTitle {
    font-size: 18pt;
}
.containerHeaderDescription {
    color: var(--text-color-one-blur);
}
.containerBody {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.containerBodySocialAccounts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.separator {
    display: flex;
    align-items: center;
    gap: 15px;
}
.separatorBar {
    height: 1px;
    width: 100%;
    background-color: var(--text-color-two);
}
.separatorText {

}
.containerBodyForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.containerBodyFormInputContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.containerBodyFormInputContainerRemember {
    display: flex;
    align-items: center;
    gap: 10px;
}
.containerBodyFormInputContainerRememberInput {
    background-color: rgba(0, 0, 0, 0.068);
    border-color: transparent;
}
.containerBodyFormInputContainerRememberInputLabel {
    cursor: pointer;
}
.containerBodyFormInputContainerForgetPassword {
    align-self: flex-end;
}
.containerFooter {
    display: flex;
    align-items: center;
    gap: 5px;
}
.loading {
    opacity: 50%;
    pointer-events: none;
}