.wrapper {
    background-color: transparent;
    user-select: none;
}
.BtnB02 {
    background-color: transparent;
    color: var(--primary-color);
    padding: 0px 30px;
    min-height: 50px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    font-size: 12pt;
    cursor: pointer;
    transition: 0.3s;
}
.BtnB02:disabled {
    pointer-events: none;
    opacity: 50%;
}
.AutoWidth {
    width: 100%;
}