.wrapperHeader {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.wrapperHeaderContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}
.path {
    text-decoration: none;
    color: var(--text-color-two-focus);
}
.pathActive {
    color: var(--primary-color);
}
.path:hover {
    text-decoration: underline;
}
.pathIcon {
    color: var(--text-color-two-focus);
}
.wrapperBody {
    display: flex;
    gap: 30px;
}
.userMenu {
    min-width: 20%;
    background-color: transparent;
}
.myAccountMenuContainer {
    width: 100%;
    background-color: transparent;
    position: sticky;
    top: 140px;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.header {
    background-color: transparent;
    padding-bottom: 30px;
    background-color: white;
    padding: 30px;
}
.headerTitle {
    font-size: 18pt;
    font-weight: 500;
}
.headerDescription {
    color: var(--text-color-one-blur);
    font-size: 11pt;
}
.body {
    background-color: white;
    padding: 30px;
}
.header, .body {
    box-shadow: var(--shadow-complete);
    border-radius: 8px;
}