.BtnA01 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 0px 30px;
    min-height: 50px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    transition: 0.3s;
    text-align: center;
}
.BtnA01:hover {
    background-color: var(--primary-color-focus);
    border-color: var(--primary-color-focus);
}
.AutoWidth {
    width: 100%;
}